
.row{
    background-color: black;
}

.row > h1{
    color: whitesmoke;
    font-weight: bolder;
    opacity: 0.4;
    font-size: 1.5rem;
    padding-left: 10px;
}
.row_posters_container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_small{
    height: 100px;
    object-fit: contain;
    padding: 0 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
.row_large{
    height: 250px !important;
}
.row_small:hover{
    transform: scale(1.2);
}