.banner{
    position: relative;
    height: 52vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.banner_contents{
    width: fit-content;
    padding-left: 40px;
}
.banner_contents > h3{
    padding-top: 20px;
    width: 400px;
    font-weight: bolder;
    font-size: 0.8rem;
}
.banner_buttons{
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding-top: 20px;
}
.banner_buttons > button{

    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    background-color: purple;
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 8px 12px;
    cursor: pointer;
}